html,
body,
#root {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.chat-child {
  padding: 8px 4px;
}

.is-one-quarter {
  background-color: #313742;
  color: white;
}

.chat-navbar {
  padding: 10px;
  margin-top: 5px;
}

.chat-navbar a {
  color: white;
}

.chat-navbar .menu-label {
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-menu-buttons {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.chat-menu-buttons:hover {
  color: #ccc;
}

.chat-menu-button-add {
  margin-right: -15px;
}

.chat-sidebar {
  max-width: 300px;
  transition: width 0.5s ease-out;
}

.chat-sidebar-hide {
  width: 50px !important;
}

.chat-sidebar-hide-button {
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.5s ease-in;
}

.chat-sidebar-hide-button:hover {
  color: #ccc;
}

.chat-sidebar-hide-button-right {
  transform: rotate(180deg);
}

.chat-message:first-child {
  margin-top: 0;
}

.chat-message {
  padding: 6px 4px;
  margin: 10px 5px 10px 0px;
  opacity: 0;
  white-space: pre-line;
  transform: scale(0);
  transition: background-color 0.5s, opacity 0.5s, transform 0.5s;
}

.chat-message-initial-state {
  opacity: 0;
  transform: scale(0);
  background-color: #fff;
}

.chat-message-final-state {
  opacity: 1;
  transform: scale(1);
  background-color: #eee;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-conversations {
  height: calc(100vh - 220px);;
  overflow-y: auto;
}

.chat-flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 15px;
  margin-right: 10px;
  padding-bottom: 20px;
}

.chat-conversations li a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chat-conversation-selected {
  background-color: #aaa;
  color: #000;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .chat-flex {
    margin-left: 10px;
    margin-top: 0px;
    height: calc(100vh - 315px);
  }
  
  .chat-flex-hide {
    height: calc(100vh - 54px);
  }

  .chat-sidebar-hide {
    height: 70px !important;
  }

  .chat-conversations {
    height: 100px;
    max-height: 100px;
  }

  .chat-sidebar {
    max-width: 100%;
  }

  .chat-sidebar-hide-button {
    padding: 10px;
    transform: rotate(90deg);
  }
  
  .chat-sidebar-hide-button-right {
    transform: rotate(-90deg);
  }

  .chat-sidebar-hide {
    width: 100% !important;
  }

  .chat-menu-button-add {
    margin-right: 0px;
  }
}
